.search {
  display: flex;
  align-items: center;
  &__logo {
    transform: translateX(-2rem);
    transition: all 250ms ease-in-out;
    opacity: 0;
    width: 0;
    height: 0;
    margin-top: 0.75rem;
    @media screen and (max-width: 720px) {
      transform: translateY(0);
      opacity: 1;
      width: 4.375rem;
      height: 4.375rem;
    }
  }
  &__input-group {
    display: flex;
    width: 100%;
    position: relative;

    & img {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      z-index: 2;
      pointer-events: none;
    }
  }

  & input {
    flex: 100%;
    padding: 0.75rem 1rem 0.75rem 3rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: border-color 250ms ease-in;
    position: relative;
    &:focus {
      border-color: #0c94f5;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 1.125rem;
      color: #999999;
    }
  }
}
